body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
}

.container {
	height: 3000px;
	color: rgb(255, 255, 255);
	/* background-color: #6df3b0; */
	background-color: rgba(109, 243, 176, 0.95);
	font-family: Microsoft JhengHei;
}

.title {
	font-size: 400%;
	margin-bottom: 5%;
	font-family: 'Noto Sans TC', sans-serif;
}

.block {
	margin: 8% 2%;
	padding: 1%;
	border: 3px solid white;
	border-radius: 10px;
}

.analogsensor {
	width: auto;
	height: 80px;
	margin-top: 20px;
	margin-left: 20px;
}

.analogvalue {
	color: white;
	margin-top: 44px;
	margin-right: 40px;
	float: right;
}

.county_township {
	margin-top: 3%;
	margin-bottom: 3%;
}

.textbig {
	font-size: 180%;
}

.text {
	font-size: 150%;
}

.textsmall {
	font-size: 100%;
}

/*#analog {
	padding: 0 4em;
	float: left;
}

.analogclass {
	height: 120px;
	margin: 10px auto;
	border: 3px solid wte;
	border-radius: 5px;
	display: block;
}

.analogsensor {
	width: auto;
	height: 80px;
	margin-top: 20px;
	margin-left: 20px;
}

.analogvalue {
	color: white;
	font-size: 26px;
	margin-top: 44px;
	margin-right: 40px;
	float: right;
}

.speechsensor {
    height: 80px;
	width: auto;
}

.speech {
    background-color: white;   
	color:  black;
	font-size: 26px;
    width: 120px;
    height: 50px; 
    float: right;
    margin-top: 30px;
    margin-right: 40px;
} */